<header class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Logo como imagen con enlace a index.html -->
    <a href="/src/index.html" class="navbar-brand">
      <img src="/src/assets/images/logo.png" alt="Logo" class="navbar__logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a href="/src/speakers.html" class="nav-link">Speakers</a></li>
        <li class="nav-item"><a href="/src/article.html" class="nav-link">Article</a></li>
        <li class="nav-item"><a href="/src/gallery.html" class="nav-link">Gallery</a></li>
      </ul>
    </div>
  </div>
</header> 