@use "../../../node_modules/bootstrap/scss/bootstrap" as *;

$primary-color: hwb(126 2% 28%);
$logo-color-1: hwb(330 20% 0%);
$logo-color-2: hwb(200 40% 0%);
$ocean-terminal-dark: hwb(221 20% 24%);
$ocean-terminal-light: hwb(150 95% 4%);
$classic-terminal-dark: hwb(0 9% 91%);
$classic-terminal-light: hwb(126 2% 16%);
$highlight-color: hwb(120 35% 15%);
$font-family: "Arimo", "Arial", sans-serif;
